@import "./variables.scss";

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    font-size: 16px!important;
    color:  $finance-navy !important;
    font-weight: bold!important;
  }